.Rproj.user
.Rhistory
.RData
.Ruserdata
*.json
*.pper
.Rproj.user/61FD0E07/sources/prop/INDEX
.Rproj.user/61FD0E07/pcs/files-pane.pper
.Rproj.user/61FD0E07/pcs/source-pane.pper
.Rproj.user/61FD0E07/pcs/windowlayoutstate.pper
.Rproj.user/61FD0E07/pcs/workbench-pane.pper
.Rproj.user/61FD0E07/persistent-state
.Rproj.user/61FD0E07/rmd-outputs
.Rproj.user/61FD0E07/saved_source_markers
.Rproj.user/61FD0E07/sources/prop/0DEE958C
rsconnect/.DS_Store
rsconnect/documents/.DS_Store
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/patch-chunk-names
rsconnect/documents/app.Rmd/shinyapps.io/.DS_Store
rsconnect/documents/app.Rmd/.DS_Store
*.pper
